/* Color variables */
:root {
	--primary: #76abae;
	--secondary: #8bc8cc; /* Hyperlinks color */
	--primary-background: #222831;
	--secondary-background: #31363f;
	--secondary-background-shadow: #31363f80;
}

/* Global declarations */
body {
	color: var(--primary);
	background-color: var(--primary-background);
	min-height: 95vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bolder;
	font-size: 1.5em;
	text-align: center;
}

/* Button style */
#button {
	color: var(--primary);
	font-weight: 500;
	background: var(--secondary-background);
	width: 250px;
	height: 250px;
	border: none;
	border-radius: 100%;
	cursor: pointer;
	font-size: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	touch-action: manipulation;
	box-shadow: 2px 10px var(--shadow-secondary-background);
	transition: all 0.1s ease;
}

/* Making button shadow smaller and moving it
so it feels like its eing pressed down */
#button:hover {
	box-shadow: 1.7px 9px var(--shadow-secondary-background);
	transform: translateY(1px);
}

/* Same for this but moving more */
#button:active {
	box-shadow: 1.5px 7.5px var(--shadow-secondary-background);
	transform: translateY(2.5px);
}

/* Counters background, and shadow */
#localCounter,
#globalCounter {
	position: fixed;
	background-color: var(--secondary-background);
	padding: 12px 20px;
	border-radius: 20px;
	box-shadow: 1px 5px var(--shadow-secondary-background);
}

/* Aligning to top left */
#localCounter {
	top: -5px;
	left: 15px;
}

/* Aligning to top right */
#globalCounter {
	top: -5px;
	right: 15px;
}

/* Moving the credentials to bottom center, and changing font stuff */
#credentials {
	position: fixed;
	bottom: -7px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--secondary-background);
	padding: 10px 16px;
	border-radius: 20px;
	box-shadow: 1px 5px var(--shadow-secondary-background);
	font-weight: 500;
	font-size: 0.75em;
}

/* Making the links lighter verdigris instead of purple */
#credentials a {
	color: var(--secondary);
}
/* Mobile changes so the text doesnt overlap */
@media (max-width: 700px) {
	/* Slighty smaller button */
	#button {
		width: 200px;
		height: 200px;
		font-size: 70px;
	}

	/* Centering both to the middle of screen, and making the text smaller */
	#localCounter,
	#globalCounter {
		left: 50%;
		width: max-content;
		transform: translateX(-50%);
		font-size: 1em;
	}

	/* Making the Counters on top of each other */
	#localCounter {
		top: 55px;
	}

	#globalCounter {
		top: -15px;
	}

	/* Smaller credentials */
	#credentials {
		font-size: 0.7em;
		width: max-content;
		bottom: -5px;
	}
}

/* For mobile phones rotated sideways */
@media (max-height: 500px) {
	/* Slighty smaller button */
	#button {
		width: 200px;
		height: 200px;
		font-size: 70px;
	}
	/* Making the text smaller, and a little closer to the edges of screen */
	#localCounter,
	#globalCounter {
		font-size: 0.9em;
		top: -18px;
	}

	/* Moving them closer to the left and right side */
	#localCounter {
		left: 4px;
	}

	#globalCounter {
		right: 4px;
	}

	/* Smaller credentials, on the bottom left so it doesnt cover up button */
	#credentials {
		font-size: 0.5em;
		bottom: -4px;
		left: auto;
		/* right: -78px; */
		right: -63px;
	}
}

/* For very small devices */
@media (max-height: 500px) and (max-width: 700px) {
	/* Smaller button */
	#button {
		width: 150px;
		height: 150px;
		font-size: 55px;
	}

	/* Making the text smaller, and a little closer to the edges of screen */
	#localCounter,
	#globalCounter {
		font-size: 0.5em;
		top: -9px;
		padding: 6px 12px;
	}

	/* Moving them closer to the left and right side */
	#localCounter {
		/* left: 75px; */
		left: 50px;
	}

	#globalCounter {
		/* right: -80px; */
		right: -52px;
		left: auto;
	}

	/* Minimal credentials, on the bottom left so it doesnt cover up button */
	#credentials {
		font-size: 0.4em;
		bottom: -2px;
		left: auto;
		/* right: -56px; */
		right: -44px;
		width: max-content;
		padding: 6px 8px;
		border-radius: 10px;
	}
}

/* For nano devices (idk if you can even run this website on those devices but why not add support >:3 */
@media (max-height: 250px) and (max-width: 400px) {
	#button {
		width: 100px;
		height: 100px;
		font-size: 40px;
	}
}
